<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>

    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <div id="outer-wrapper">
        <%= render :partial => "/shared/header" -%>
        <% if home_page? %>
          <%= render :partial => '/shared/slider' %>
        <% else %>
          <%= render :partial => '/shared/noslider' %>
        <% end %>
        <div class="clear"></div>
        <section id='page'>
          <div id="content-wrapper" class="<%= 'inner' if !home_page? %>">
            <div class="container">
              <div id="content-container">
                <div id="frame-content-t">
                  <div id="frame-content-b">
                      <%= yield %>
                   </div><!-- #frame-content-b -->
                 </div><!-- #frame-content-t -->
               </div><!-- #content-container -->
            </div><!-- .container -->
          </div><!-- #content-wrapper -->
          
        </section>
        
        <footer>
          <%= render :partial => "/shared/footer" -%>
        </footer>
      </div>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>


